{% extends 'main.html' %}

{% block nav %}
    {% include "navbar.html" with logged_in=True search=True %}
{% endblock %}

{% block content %}

    <div class="container mt-4">
        <h4 class="mb-3">
            <span class="badge bg-secondary">{{ count }}</span> Results
        </h4>

        <div class="row">
            {% for m in missions %}
                <div class="col-md-4 mb-4">
                    <div class="card position-relative" style="width: 100%;">
                        <span class="badge text-uppercase position-absolute {{ m.get_level_badge_class }}"
                              style="top: -10px; left: 10px; font-size: 0.8rem; padding: 0.4em 0.7em;">
                            {{ m.level|title }}
                        </span>

                        <div class="card-body pt-4">
                            <h5 class="card-title">{{ m.title }}</h5>
                            <p class="card-text">{{ m.description }}</p>
                            <a href="">
                                <h6 class="card-subtitle mb-2 text-body-secondary">@{{ m.client.user.username }}</h6>
                            </a>
                            <h5 class="text-success fw-bold">{{ m.price }}$/hour</h5>
                            <div class="d-inline-block px-3 py-1 mt-2 text-muted bg-light rounded-pill"
                                 style="background-color: #e0e0e0;">
                                {{ m.get_category_display }}
                            </div>
                            <div class="d-flex justify-content-end mt-3">
                                <a href="#" class="btn btn-primary">Apply now</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}
